<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Crimson Space Media Library</title>
    @Styles.Render("~/bundles/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Media Library</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Movies
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/#/Movies/search">Search</a></li>
                            <li><a href="/#/MovieImport/search">Import from TMDb</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            TV Shows
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/#/Movies/search">Search</a></li>
                            <li><a href="/#/MovieImport/search">Import from TMDb</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div ng-view></div>
        <hr />
        <footer class="text-center col-xs-12">
            <p>&copy; @DateTime.Now.Year - Crimson Space Media</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/js-libraries")
    @RenderSection("scripts", required: false)
</body>
</html>